html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: beige;
}

h1 {
    color: green;
}

h2 {
    color: blue;
}

img {
    width: 200px;
    height: 150px;
}

p,
li {
   font-size: 16px; 
}

ul {
    display: flex;
}

div {
    margin-right: 32px;
}

li {
    list-style-type: none;
}